---
type Props = {
  count: number;
  label: string;
};

const { count, label } = Astro.props as Props;
---

<!-- Heading -->
<div class="rounded-l-full bg-brightRedSupLight md:bg-transparent">
  <div class="flex items-center space-x-2">
    <div class="px-4 py-2 text-white rounded-full md:py-1 bg-brightRed">
      {count}
    </div>
    <h3 class="text-base font-bold md:mb-4 md:hidden">
      {label}
    </h3>
  </div>
</div>
<div>
  <h3 class="hidden mb-4 text-lg font-bold md:block">
    {label}
  </h3>
  <p class="text-darkGrayishBlue">
    <slot />
  </p>
</div>
