---
import GetStarted from "../components/GetStarted.astro";
import NavItem from "../components/NavItem.astro";
---

<nav class="relative container mx-auto p-6">
  <div class="flex items-center justify-between">
    <div class="pt-2">
      <img src="img/logo.svg" alt="" />
    </div>
    <div class="hidden md:flex space-x-6">
      <NavItem>Pricing</NavItem>
      <NavItem>Product</NavItem>
      <NavItem>About Us</NavItem>
      <NavItem>Careers</NavItem>
      <NavItem>Community</NavItem>
    </div>
    <GetStarted />

    <!-- Hamburger Icon -->
    <button id="menu-btn" class="block hamburger focus:outline-none">
      <script>
        const btn = document.getElementById("menu-btn");
        const nav = document.getElementById("menu");
        btn.addEventListener("click", () => {
          btn.classList.toggle("open");
          nav.classList.toggle("flex");
          nav.classList.toggle("hidden");
        });
      </script>
      <span class="hamburger-top"> </span>
      <span class="hamburger-middle"> </span>
      <span class="hamburger-bottom"> </span>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div class="md:hidden">
    <div
      id="menu"
      class="absolute flex flex-col items-center self-end hidden py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"
    >
      <a href="#">Pricing</a>
      <a href="#">Product</a>
      <a href="#">About Us</a>
      <a href="#">Careers</a>
      <a href="#">Community</a>
    </div>
  </div>
</nav>
